.container {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.color-square {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 2em;
    opacity: .6;
}

#squareBlue {
    background-color: blue;
}
#squareGreen {
    background-color: green;
}
#squareYellow {
    background-color: yellow;
}
#squareRed {
    background-color: red;
}
